<!DOCTYPE html>
<html lang="en">

{% include _includes/head.html %}

<body id="page-top">
    {% include nav.html %}
    
    <div class="post-header" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/portfolio/medicmagic_home.png');">
      <div class="post container" style="padding-bottom: 4vh;">
        <h1>MedicMagic</h1>
        <h4 class="text-faded">가임기 여성을 대상으로 한 건강 추적 어플리케이션</h4>
        <div style="margin-top:20px">
          2021.05 ~ <br>
          Position : Back-end Developer
        </div>
      </div>
    </div>

    {% include scripts.html %}

  </body>

</html>