<section class="services" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">EXPERIENCE</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="col-lg-12 text-center">
                <div class="service-box">
                    <h3>Sejong Univ.</h3>
                    <h4 class="text-muted">소프트웨어학과 재학</h4>
                    <h5 class="text-muted">GPA 4.20 | SMR GPA 4.30</h5>
                </div>
            </div>
        </div>
    </div>
</section>
