<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>MOONG2<br>PORTFOLIO</h1>
            <h3>Backend Engineer</h3>
            <hr>
            <p>pushclap@gmail.com</p>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Github</li>
                <li class="list-group-item">TechBlog</li>
            </ul>
            <div>
                <button type="button" class="btn btn-lg btn-primary">RESUME</button>
            </div>
        </div>
    </div>
</header>
