<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TECH STACK</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="col-lg-12 text-center">
                <div class="service-box">
                    <h3>Languages</h3>
                    <p class="text-muted">C, C++, HTML, CSS, JavaScript, JAVA, Python</p>
                </div>
            </div>
            <br>
            <br>
            <div class="col-lg-12 text-center">
                <div class="service-box">
                    <h3>BACKEND</h3>
                    <p class="text-muted">Spring Boot, MYSQL, mariaDB</p>
                    <p class="text-muted">AWS EC2/RDS/S3</p>
                    <p class="text-muted">Travis CI/CD, Nginx</p>
                </div>
            </div>
        </div>
    </div>
</section>
