<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <div class="post-header" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/portfolio/board_home.jpg');">
    <div class="post container" style="padding-bottom: 4vh;">
      <h1>게시판 제작 (개인 공부 프로젝트)</h1>
      <h4 class="text-faded">Spring을 이용해서 게시판을 제작하고 소셜로그인 접속이나 aws를 이용한 배포를 한 후 Nginx와 CI/CD를 이용해서 무중단배포를 공부한 프로젝트</h4>
      <div style="margin-top:20px">
        2021.02 ~ 2021.04 <br>
        Position : full-stack Developer
      </div>
    </div>
  </div>
  {% include scripts.html %}
</body>

</html>